# Django Configuration
SECRET_KEY=django-insecure-9khj!gp$o@1asx8(_y20%5f$p(mm0h_f#5d0gnfo4)xf$9)&44
DEBUG=True

# Database Configuration
DATABASE_URL=sqlite:///db.sqlite3

# Bot Configuration
BOT_TOKEN=your_telegram_bot_token_here
WEBHOOK_URL=
WEBHOOK_PATH=/webhook/

# Admin Configuration
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# Notification Configuration
REMINDER_HOURS_BEFORE=1

# API Configuration
API_BASE_URL=http://localhost:8001/api